@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap");

/* Global styles */
body {
  padding: 0;
  margin: 0;
  border: 0px;
  list-style: none;
  overflow-x: clip;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
:root {
  --items-count: 3;
  --color-lightgrey: rgba(0, 0, 0, 0.75);
  --color-lightred: rgb(239 68 68);
  --color-darkred: #8e002f;
  --color-lightblue: rgb(59 130 246);
  --color-darkblue: #2335f9;
}

html {
  scroll-behavior: smooth;
  overflow-x: clip;
}
a {
  text-decoration: none;
  color: inherit;
  transition: ease-in-out;
}

img {
  -webkit-user-drag: none;
}
.login-container {
  display: flex;
  margin-top: 2rem;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login-container .input-group {
  width: 400px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sc-rw-loading-overlay-h > div.sc-rw-loading-overlay {
  z-index: -1;
}

/* Header */

div.header {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1% 0 1%;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.573);
  color: rgb(75 75 75);
}

.logo_container img {
  width: 57px;
  height: auto;
  align-self: center;
}

.header > .section_1 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header > .section_1 > .heading {
  text-align: center;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 16px;
}

.header > .section_1 > .heading > .heading_inner_text {
  color: rgba(60, 60, 60, 0.704);
  font-size: 1rem;
  font-family: "Caveat", serif;
  font-weight: 200;
}

.header > .section_2 {
  display: flex;
  gap: 15px;
  color: rgba(0, 0, 0, 0.75);
}
.header > .section_2 > a:hover {
  color: black;
}

.header > .section_2.phone {
  flex-direction: column;
  background: white;
  padding: 10px;
  position: absolute;
  right: 15px;
  top: 60px;
  box-shadow: 0px 0px 11px #00000094;
}

.header section a:hover {
  cursor: pointer;
  color: silver;
}

.header section a {
  transition: ease-in-out;
  font-size: 1rem;
}

/* Inner Header 1 */

.header_part_1_flag {
  background-color: skyblue;
  height: 70px;
}

/* Inner Header 2 */

.header_part_2 {
  width: 100vw;
  margin-bottom: 3rem;
  position: relative;
}

.header_part_2 > .header_text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  width: 80%;
}

.header_part_2 .header_text_inner {
  color: rgb(225 29 72);
  text-shadow: 0px 0px 2px black;
}

.header_part_2 > img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

/* Inner Header 2 */

.header_part_3 {
  text-align: center;
  margin-bottom: 10px;
}

.header_part_3 > img {
  height: 70px;
  margin: 0 10px 0 10px;
}

/* Inner Header 3 */

.header_part_4 {
  font-family: "Tangerine", serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 1.8rem;
  text-decoration: underline;
  margin-bottom: 3rem;
}

/* Footer */

.footer {
  display: flex;
  align-items: center;
  margin: 2rem 0 2rem 0;
  overflow-x: hidden;
}

.footer section a {
  color: grey;
}

.footer section a:hover {
  cursor: pointer;
  color: silver;
}

.footer section a:first-of-type {
  color: black;
  font-weight: 700;
}

.footer section a:first-of-type:hover {
  cursor: default;
}

.footer .section1 {
  margin-left: 10%;
}

.footer .section1 > img {
  width: 11rem;
}

.footer .section2 {
  text-align: center;
  margin: auto;
  display: flex;
  gap: 4rem;
  font-size: 1.2rem;
}

.footer .section2 > section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

div.footer_visas_container {
  width: 100%;
  margin-bottom: 5rem;
}

div.footer_visas_container > img {
  display: block;
  margin: auto;
  width: 25rem;
}

/* img_container */

.extention_img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  gap: 10px;
}

/* summary */

details {
  width: 95%;
  box-shadow: 0px 0px 3px #00000026;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

summary {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  list-style: none;
  justify-content: space-between;
}

summary::after {
  content: "▼"; /* Plus icon when closed */
  font-size: 18px;
  margin-right: 10px;
}

details[open] summary::after {
  content: "▲"; /* Minus icon when open */
}

.fulldescription_container > .content {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

/* legal */
.legal_container {
  text-align: center;
}

.legal_container svg {
  position: relative;
  width: 200px;
  height: 200px;
  fill: rgba(0, 0, 0, 0.192);
}

.legal_container .title {
  position: absolute;
  top: 119px;
  font-size: 2rem;
  color: #000000de;
  width: 100%;
  font-weight: 600;
}

.legal_container > .section {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.26);
  width: 84%;
  text-align: center;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.legal_container .section > .heading {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 10px 0 2rem 0;
}

.legal_container .section > .content {
  color: rgb(82 82 82);
  font-weight: 300;
}

.courses_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 0 10% 0 10%;
}

.courses_container > .sigle_course {
  height: 200px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  border-radius: 10px;  
}

.courses_container > .sigle_course > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/*  */

.form-container {
  margin: auto;
  margin-top: 100px;
  max-width: 400px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.input-group input,
.input-group select {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s;
}

.input-group input:focus,
.input-group select:focus {
  border-color: #4facfe;
  box-shadow: 0 0 5px rgba(79, 172, 254, 0.5);
  outline: none;
}

.checkbox-group {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 15px;
}

.checkbox-group input {
  margin-right: 8px;
}

button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: linear-gradient(135deg, #00f2fe, #4facfe);
  transform: scale(1.05);
}
/*  */
/* dashboard */
.dashboard_container {
  margin: 5rem 3rem 0 3rem;
}
.first_section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 1.2rem;
}

.first_section > .data_section {
  position: relative;
  background-color: white;
  height: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 1.5px solid skyblue;
}
.left_icon {
  position: absolute;
  font-size: 1rem;
  top: 15px;
  left: 15px;
}
.right_icon {
  position: absolute;
  font-size: 1.3rem;
  top: 15px;
  right: 15px;
}

.second_section {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  gap: 10px;
}

.second_section > .data_section {
  position: relative;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  border: 1.5px solid skyblue;
  padding: 2rem 0 2rem 0;
  height: 450px;
}
.data_section > form {
  width: 100%;
}
.data_section > form .input_field {
  margin-bottom: 1.5rem;
}
.data_section > form label {
  width: 13%;
  display: inline-flex;
  text-align: center;
  margin-left: 10px;
  font-size: 0.7rem;
}
.second_section > .data_section .form_heading {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
}

.data_section > form input {
  width: 80%;
  padding: 10px 0 10px 10px;
}
.data_section > form button {
  display: block;
  width: 150px;
  margin: auto;
}

.data_section.one,
.data_section.two {
  padding: 0;
  overflow: scroll;
}

.data_section.one .table_item {
  font-size: 0.8rem;
}

.second_section > .data_section > .table_heading {
  background-color: skyblue;
}

.second_section > .data_section > .table_title {
  padding-top: 15px;
  text-align: center;
}

.second_section > .data_section > div {
  display: grid;
  padding: 15px 0;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.second_section > .data_section.two > div {
  grid-template-columns: repeat(3, 1fr);
}

/* dashboard */
@media (max-width: 1300px) {
  :root {
    --items-count: 2;
  }
  .tour_container > .section1 {
    width: 325px;
    height: 200px;
    min-width: 325px;
  }
  .tour_container > .section1 > img {
    width: 325px;
    height: 200px;
  }
  .offers_container > .offer > .content {
    width: 300px;
  }
  .tour_container {
    width: 80%;
  }
  .tour_img_container > .header_text {
    width: 65%;
  }
}

@media (max-width: 950px) {
  :root {
    --items-count: 1;
  }
  .offers_container > .offer {
    max-width: 100%;
  }
  .tour_container > .section1 {
    width: 250px;
    height: 150px;
    min-width: 250px;
  }
  .tour_container > .section1 > img {
    width: 250px;
    height: 150px;
  }
  .tour_container {
    width: 86%;
  }
  .navbar_item {
    margin: 0 2rem 0px 2rem;
  }
  .footer .section1 {
    margin-left: 5%;
  }
  .footer .section1 > img {
    width: 9rem;
  }
  .offers_container {
    flex-direction: column;
    gap: 1rem;
  }
  .offers_container > .offer > .content {
    width: 90%;
    margin: auto;
  }
  .tour_img_container > .header_text {
    font-size: 1.875rem;
  }
}

@media (min-width: 750px) {
  .tour_container_phone {
    display: none;
  }
  .header > .section_2_phone {
    display: none;
  }
  .schedule.phone {
    display: none;
  }
}

@media (max-width: 750px) {
  .header > .section_2 {
    display: none;
  }
  .header > .section_2.phone {
    display: flex;
  }
  .header > .section_2_phone {
    display: block;
    width: 30px;
    cursor: pointer;
  }
  .tour_container_phone {
    display: flex;
  }
  .tour_container {
    display: none;
  }
  .tour_container > .section1 {
    width: 200px;
    height: 120px;
    min-width: 200px;
  }
  .tour_container > .section1 > img {
    width: 200px;
    height: 120px;
  }

  .header_part_2 > .header_text {
    font-size: 3rem;
  }
  .tour_container > .section2 > .content {
    font-size: 0.85rem;
  }
  .tour_container {
    width: 95%;
    min-height: 200px;
    height: 200px;
  }
  .header_part_3 > img {
    height: 58px;
    margin: 0 10px 0 10px;
  }
  .header_part_4 {
    font-size: 1.5rem;
  }
  .navbar_item {
    margin: 0 1rem 0px 1rem;
  }
  .footer .section2 {
    gap: 1rem;
    font-size: 1rem;
  }
  div.footer_visas_container > img {
    width: 15rem;
  }
  .main_tour_section > .tour_img_view {
    width: 100%;
  }
  .main_tour_section > .tour_img_view > .inner_content {
    width: 90%;
  }
  .main_tour_section {
    width: 90%;
    margin: auto;
    padding-left: 0;
  }
  .main_tour_section > .heading {
    text-align: center;
  }
  .main_tour_section > section {
    margin-left: 0;
  }
  .main_tour_section > section.tours_details {
    margin-left: 25px;
  }
  .things_to_know > .thing_to_know {
    margin-left: 0;
  }
  .meeting_point#map {
    width: 80%;
    z-index: 0;
  }
  .tour_img_view > .inner_content > .heading {
    font-size: 1.3rem;
  }
  .schedule.labtob {
    display: none;
  }
  .tour_img_container .header_text_inner {
    font-size: 0.75rem;
  }
}

@media (max-width: 550px) {
  .header_part_2 > .header_text {
    font-size: 2.5rem;
  }
  .header_part_3 > img {
    height: 46px;
    margin: 0 5px 0 5px;
  }

  .header_part_4 {
    font-size: 1.2rem;
  }
  .tour_container > .section2 > .content {
    font-size: 0.65rem;
    overflow-y: hidden;
  }
  .tour_container > .section2 > .heading {
    font-size: 1rem;
  }
  .navbar_item {
    margin: 0 0.5rem 0px 0.5rem;
  }
  .bottom_navbar {
    font-size: 0.8rem;
  }
  .footer .section2 {
    flex-direction: column;
  }
  div.footer_visas_container > img {
    width: 10rem;
  }
  .tours_details {
    grid-template-columns: 1fr;
  }
  .tour_container_phone {
    width: 75%;
  }
  .slider_component_container {
    width: 331px;
  }
  .slider_component_container > .main_section > .content {
    margin-left: 7px;
  }
  .global_heading > .heading {
    font-size: 1.4rem;
  }
  .global_heading {
    margin: 5rem 0 40px 0;
  }
  .tour_img_container {
    width: 100%;
  }
}

@media (max-width: 370px) {
  .contact_container > .content {
    width: 278px;
  }
  .header_part_2 > .header_text {
    font-size: 2rem;
  }
  .bottom_navbar {
    font-size: 0.8rem;
    justify-content: space-evenly;
  }
  .navbar_item {
    margin: 0 0.2rem 0px 0.2rem;
  }
  .header_part_3 > img {
    height: 40px;
    margin: 0 5px 0 5px;
  }
  .tour_img_view > .inner_content > .content {
    font-size: 0.8rem;
  }
  .header_part_3 > img.first,
  .header_part_3 > img.last {
    display: none;
  }
}
